.advantages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: rgb(234, 234, 234);
    height: 40vh;
    width: 100%;
}
.advantagesGrid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8%;
    width: 100%;    
}