* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Общая ширина скроллбара */
::-webkit-scrollbar {
    width: 4px;
    /* для вертикального */
    height: 4px;
    /* для горизонтального */
}

/* Фоновая часть (трек) */
::-webkit-scrollbar-track {
    background: transparent;
    /* можно задать цвет фона, если нужно */
}

/* Ползунок */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    /* цвет самой линии */
    border-radius: 10px;
}

/* При наведении */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}


