.card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    transition: transform 0.3s ease;

    min-width: 200px;
    min-width: 20%;

    max-width: 400px;
    white-space: nowrap;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  
  .info {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    color: #666;
  }
  
  .button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ff7a00;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #e56b00;
  }
  