.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  padding: 20px 0;
}

.logo {
  max-height: 40px;
  padding-left: 8%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 15% 0 10px;

  width: 100%;
}


.navigation {
  list-style: none;
  display: flex;
  flex: 0, 0, 40%;
  flex-shrink: 1;
  justify-content: right;
  padding-right: 40px;
  margin-left: auto;
  gap: 20px;




  li {
    position: relative;

    a {
      text-decoration: none;
      font-size: 18px;
      color: #333;
      white-space: nowrap;
      &:hover{
        color: #edd836;
      }
    }

    .submenu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: white;
      list-style: none;
      padding: 10px 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;

      li {
        padding: 5px 15px;

        a {
          color: #333;

          &:hover {
            color: #edd836;
          }
        }
      }
    }

    &:hover .submenu {
      display: block;
    }

  }

}

.headerBtn .btn {
  background-color: #edd836;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .mainMenu {
    display: none;
  }

  .mobileCol {
    display: block;
  }
}